.Calculate {
  p {
    margin: 16px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .taxValue {
    font-size: 14px;
    line-height: 24px;

    span {
      color: #808080;
    }
  }
}