@import '../../../style/style';

.Selection {
  margin: 24px 0 40px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .Selection {
    display: flex;
    align-items: center;

    p {
      margin: 0 32px 0 0;
    }
  }
}